:root {
  --line-height: 1.6;
  --primary-color: #f4f4f4;
}

*:before, 
*:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  line-height: var(--line-height);
  background-color: var(--primary-color);
}

div#app {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

