
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  display: none;
  font-size: 1.5rem;
  margin: 0.5rem;
}

#toogle {
  display: none;
}

.label img {
  width: 2rem;
  height: auto;
  display: none;
}

.links {
  background-color: var(--secondary-color);
  padding: 1rem;
}

.links ul {
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: row;
}

.links li {
  list-style: none;
}

.links li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
  /* display: block; */
}

.links li a:hover {
  background-color: #555;
}

#login {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  /* padding: 0.5rem 1rem; */
  /* border: none; */
  border-radius: 0.5rem;
  /* cursor: pointer; */
}

@media (max-width: 800px) {
  .title {
    display: block;
    flex: 1;
  }
  .navbar {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .navbar {
    justify-content: flex-start;
  }

  .toogle {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    top: 5rem;
    width: 100%;
  }

  .links ul {
    flex-direction: column;
    width: 100%;
  }

  .links.active {
    display: flex;
  }

  .label img {
    display: block;
  }

  #toogle:checked ~ .links {
    display: block;
  }
}
