
#login {
  max-width: 60ch;
  padding: 1rem;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 2rem;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}
